body {
	display: flex;
	gap: 48px;
	flex-wrap: wrap;
	justify-content: center;
}

section {
	padding: 24px 48px;
	width: 40%;
	border: 2px solid #ddd;
	border-radius: 24px;
}

@media (max-width: 768px) {
	section {
		width: 100%;
		border: none;
	}
}
